<nav class="mnavbar">
  <ul class="navbar-nav">
    <li class="logo">
      <a class="nav-link">
        <span class="link-text logo-text">Console</span>
        <svg
          aria-hidden="true"
          focusable="false"
          data-prefix="fad"
          data-icon="angle-double-right"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
        >
          <g class="fa-group">
            <path
              fill="currentColor"
              d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
              class="fa-secondary"
            ></path>
            <path
              fill="currentColor"
              d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
              class="fa-primary"
            ></path>
          </g>
        </svg>
      </a>
    </li>

    <li class="nav-item">
      <a href="/" class="nav-link" id="dashboard-link">
        <i class="fas fa-columns fa-2x nav-icon"></i>
        <span class="link-text">Dashboard</span>
      </a>
    </li>

    <li class="nav-item" id="createInstanceLink">
      <a href="/createInstance" class="nav-link" id="instance-link">
        <i class="fas fa-server fa-2x nav-icon"></i>
        <span class="link-text">Create Instance</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="/createEnvironment" class="nav-link" id="env-link">
        <i class="fas fa-toolbox fa-2x nav-icon"></i>
        <span class="link-text">Create Environment</span>
      </a>
    </li>

    <li class="nav-item">
      <a href="/docs" class="nav-link" id="docs-link">
        <i class="fas fa-book fa-2x nav-icon"></i>
        <span class="link-text">Docs</span>
      </a>
    </li>

    <li class="nav-item" id="themeButton">
      <a href="/contact" class="nav-link" id="contact-link">
        <i class="fas fa-address-book fa-2x nav-icon"></i>
        <span class="link-text">Contact Us</span>
      </a>
    </li>
    <li class="nav-item">
      <a href="/logout" class="nav-link" id="logout-link">
        <i class="fas fa-sign-out-alt fa-2x nav-icon"></i>
        <span class="link-text">Logout</span>
      </a>
    </li>
  </ul>
</nav>
