<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="styles/style.css" /> -->

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
    />
    <link rel="stylesheet" href="styles/sidebar.css" />
  </head>
  <body>
    <%- include('./partials/sidebar.ejs', {active: 'contact'}); %>
    <div class="container form-container w-50">
      <h1 class="text-center">Send query</h1>
      <form id="contactForm" style="margin-top: 20px">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              placeholder=""
              value="abc@gmail.com"
              required
            />
          </div>
          <div class="form-group col-md-6">
            <label for="phone">Phone no.</label>
            <input
              type="text"
              class="form-control"
              id="phone"
              placeholder="Enter phone no."
              required
            />
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <label for="query">Query</label>
            <textarea
              class="form-control"
              id="query"
              placeholder="Enter your query"
            >
            </textarea>
          </div>
        </div>
        <button
          type="submit"
          id="contact-button"
          class="btn btn-primary btn-block"
        >
          Send query
        </button>
        <div id="message"></div>
      </form>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Bootstrap CDN -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      const url = window.location.href;

      const lastSegment = url.split("/").pop();
      if (lastSegment === "contact")
        document
          .getElementById("contact-link")
          .classList.add("nav-link-active");
      const form = document.querySelector("#contactForm");
      const message = document.getElementById("message");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const button = document.querySelector("#contact-button");
        button.classList.add("disabled");
        button.innerHTML =
          '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Sending...';
        const email = document.querySelector("#email").value;
        const phone = document.querySelector("#phone").value;
        const query = document.querySelector("#query").value;
        try {
          const response = await axios.post("/contact", {
            email,
            phone,
            query,
          });
          message.innerHTML = `<p class="text-success">Query sent!</p>`;
        } catch (e) {
          console.log("Some error!", e);
          message.innerHTML = `<p class="text-danger">Error: ${
            e.response.data.errorMessage || ""
          }</p>`;
        }
        button.classList.remove("disabled");
        button.innerHTML = "Send query";
      });
    </script>
  </body>
</html>
