<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
    <div class="container px-4 mx-auto bg-gray-50">
    <h1 class="text-lg">Create instance</h1>

    <form class="w-full max-w-lg">
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="instance-name">
              Instance Name
            </label>
            <input class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" id="instance-name" type="text" placeholder="DemoEC2">
            <p class="text-red-500 text-xs italic"></p>
          </div>
          <div class="w-full md:w-1/2 px-3">
        
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                Key-pair
            </label>
            <div class="relative">
                <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                    <option>windows-key</option>
                    <option>linux-key</option>
                
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
            </div>
              
          </div>
        </div>
        <div class=" -mx-3 mb-6">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                Subnet
            </label>
            <div class="relative">
                <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state">
                    <option>subnet-d7j3hg | us-east-1b | vpc-k23oni</option>
                    <option>subnet-jfewg | us-east-1c | vpc-kvdsni</option>
                
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
                </div>
            </div>
        </div>
        <div class=" -mx-3 mb-2">
            <label class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" for="grid-state">
                Security Groups
            </label>
            <div class="relative">
                <select class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-state" multiple>
                    <option>sg-030f7ee4756e04dc7 | launch-wizard-3 </option>
                    <option>sg-030f7ee4756224dc7 | launch-wizard-2 </option>
                    <option>sg-030f7ee4756e04dc7 | launch-wizard-1 </option>
                    <option>sg-030f7ee4756224dc7 | launch-wizard-5 </option>
                    <option>sg-030f7ee4756224dc7 | launch-wizard-5 </option>
                    <option>sg-030f7ee4756224dc7 | launch-wizard-5 </option>
                    <option>sg-030f7ee4756224dc7 | launch-wizard-5 </option>
                
                </select>
                <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
                </div>
            </div>
          
          
        </div>
      </form>
    </div>
</body>
</html>