<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Docs</title>
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <!-- <link rel="stylesheet" href="styles/style.css" /> -->

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
      integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm"
      crossorigin="anonymous"
    />
    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css"
    />
    <link rel="stylesheet" href="styles/sidebar.css" />
    <link rel="stylesheet" href="styles/docs.css" />
  </head>
  <body>
    <%- include('./partials/sidebar.ejs', {active: 'docs'}); %>
    <div class="sidenav">
      <a href="#introduction">Introduction</a>
      <a href="#aws">AWS Services</a>
      <a href="#sdk">Python SDK(Boto3)</a>
      <a href="#node">Node.js and express</a>
    </div>
    <div class="main">
      <section id="introduction">
        <h1 class="section-header">Getting Started</h1>
        <p>
          The web console allows authenticated users to
          <ul>
            <li>Configure and view environments i.e. virtual private clouds and subnets.</li>
            <li>Launch and view virtual servers (Amazon EC2 instances).</li>
            <li>User can specify different configurations for instances like the subnet, security
              groups and key-pair to use.</li>
              <li>The users can also start, stop and terminate the instances.</li>
              <li>The user can also contact the admin for queries.</li>
          </ul>
          <h3>Running locally</h3>
          To use this console on local development server. Follow these steps-: 
          <ol>
            <li>Clone the github repo 
              <code>git clone "repo name"</code>
            </li>
            <li>Install NPM packages 
              <code>npm install</code>
            </li>
            <li>Start on port localhost:3000 
              <code>npm start</code>
            </li>
          </ol>
          <h3>Running on EC2 instance</h3>
            <ol>
              <li>
                Create an EC2 instance. Enable auto-assign public IP.
              </li>
              <li>
                In security groups enable custom TCP incoming from anywhere for port 3000.
              </li>
              <li>Connect to your Linux instance as ec2-user using SSH.
              </li>
              <li>
                <code>sudo yum -y install curl</code>
                <code> -sL https://rpm.nodesource.com/setup_14.x | sudo bash -</code>
              </li>
              <li>
                Clone github repo
                <code>git clone "repo-name"</code>
              </li>
              <li>
                Install dependencies
                <code>npm install</code>
              </li>
              <li>
                Start the server
                <code>npm start</code>
                Now copy and paste the public Ipv4 DNS and add :3000 at the end
              </li>

            </ol>
        </p>
      </section>
      <section id="aws">
        <h1 class="section-header">AWS Services</h1>
        <p class="lead">
          A brief introduction of the AWS services used for this project.
        </p>
        <div>
          <h3>Virtual Private Cloud (VPC)</h3>
          <p>
            Amazon Virtual Private Cloud (Amazon VPC) enables you to launch AWS resources into a virtual network that you've defined. This virtual network closely resembles a traditional network that you'd operate in your own data center, with the benefits of using the scalable infrastructure of AWS.
          </p>
        </div>
        <div>
          <h3>Amazon Elastic Compute Cloud (EC2)</h3>
          <p>
            Amazon Elastic Compute Cloud (Amazon EC2) is a web service that provides secure, resizable compute capacity in the cloud. EC2 offers many options that enable you to build and run virtually any application.
          </p>
        </div>
        <div>
          <h3>AWS Lambda</h3>
          <p>
            AWS Lambda is a serverless, event-driven compute service that lets you run code for virtually any type of application or backend service without provisioning or managing servers
          </p>
        </div>
        <div>
          <h3>API Gateway</h3>
          <p>
            Amazon API Gateway is a fully managed service that makes it easy for developers to create, publish, maintain, monitor, and secure APIs at any scale. APIs act as the "front door" for applications to access data, business logic, or functionality from your backend services.
          </p>
        </div>
      </section>
      <section id="sdk">
        <h1 class="section-header">Python SDK for AWS(Boto3)</h1>
        <p class="lead">
          A brief introduction of the boto3 APIs for this project.
       
      </p>
      <ol>
        <li>
          <h4>run_instances()</h4>
          Launches the specified number of instances using an AMI for which you have permissions.
          <code>response= client.run_instances( <br>
          ImageId='string',<br>
          MinCount=123,<br>
          MaxCount=123,<br>
          InstanceType='string',<br>
          KeyName='string',<br>
          SubnetId='string',<br>
          SecurityGroupIds=[<br>
          'string',<br>
      ],<br>
          TagSpecifications=[{'ResourceType': 'instance',<br>
                      'Tags': [{<br>
                              'Key':'Name',<br>
                              'Value': 'value'<br>
                          }]}]<br>
  
          )
          </code>
        </li>
        <li>
          <h4>terminate_instances()</h4>
          Shuts down the specified instances. This operation is idempotent; if you terminate an instance more than once, each call succeeds.
          <code>
            client.terminate_instances(InstanceIds=[event["instanceID"]])<br>
            return {<br>
                "success":"true",<br>
                "message":"Instance successfully terminated",<br>
                "data":json.dumps({<br>
                    "instanceID": str(event["instanceID"])<br>
                })<br>
            }
          </code>
        </li>
        <li>
          <h4>start_instance() and stop_instances()</h4>
          <code>
          client.stop_instances(InstanceIds=[event["instanceID"]])
          client.start_instances(InstanceIds=[event["instanceID"]])
          </code>
        </li>
        <li>
          <h4>publish()</h4>
          Publish a message to SNS topic
          <code>
            client.publish ( <br>
        TargetArn = "arn:aws:sns:us-east-1:292242767239:Mini-console",<br>
        Message = json.dumps({'default': notification}),<br>
        MessageStructure = 'json'<br>
     )
          </code>
        </li>
      </ol>
      </section>

      <section id="node">
        <h1 class="section-header">Node.js and Express.js</h1>
       
          
      </section>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- Bootstrap CDN -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
      const url = window.location.href;

      const lastSegment = url.split("/").pop();
      if (lastSegment === "docs")
        document.getElementById("docs-link").classList.add("nav-link-active");
    </script>
  </body>
</html>
